#bg-image {
    position: fixed;
	left: 0;
	right: 0;
	z-index: -1;
	display: block;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	filter: blur(3px);
	height: 100%;
}