body {
    --bg-image: url(/resources/placeholder.png);
}

#bg-image {
    position: fixed;
	left: 0;
	right: 0;
	z-index: -1;
	display: block;
	background-image: var(--bg-image);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	filter: blur(3px);
	height: 100%;
}

#body {
    background-color: transparent;
}

#main-header {
    background: linear-gradient(180deg, transparent, var(--color-canvas-default));
}

#article {
    background: var(--color-canvas-default);
}