#bg-image {
	position: fixed;
	left: 0;
	right: 0;
	z-index: -999;
	display: block;
	background-image: url('resources/desk.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	filter: blur(15px);
	height: 100%;
}

#hello {
	background: linear-gradient(45deg, deepskyblue, violet, deepskyblue, violet);
	background-size: 200% 100%;
	animation: gradient 10s ease infinite;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}



@media(min-width: 1025px) {
	#bg-image {
		--x: 0px;
		--y: 0px;
		transform: scale(1.1) translate(70px, 0px);
		background-position: var(--x) var(--y);
	}
}

#pfp {
	transition: 0.2s;
}

#pfp:hover {
	height: 200px;
	width: 200px;
	transition: 0.5s;
}

.card {
	margin: 10px;
}

#theme-changer:hover #moon {
	fill: #000000;
}

@keyframes gradient {
	0% {
		background-position: 0 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0 50%;
	}
}
