#bg-image {
	position: fixed;
	left: 0;
	right: 0;
	z-index: -999;
	display: block;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	filter: blur(15px) brightness(0.8);
	height: 100%;
}

body[data-color-mode="dark"] #bg-image {
	background-image: url('../img/desk.jpg');
}

body[data-color-mode="light"] #bg-image {
	background-image: url('../img/desklight.jpg');
}

#hello {
	background: linear-gradient(45deg, deepskyblue, violet, deepskyblue, violet);
	background-size: 200% 100%;
	animation: gradient 10s ease infinite;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

@media(min-width: 1025px) {
	#bg-image {
		transform: scale(1.1);
		transform-origin: left;
		background-position: 0 0;
	}
}

#pfp {
	transition: 0.2s;
}

#pfp:hover {
	height: 200px;
	width: 200px;
	transition: 0.5s;
}

@keyframes gradient {
	0% {
		background-position: 0 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0 50%;
	}
}