{{ define "customHead" }}
    <link rel="stylesheet" href="/css/about.css">
    <script src="/js/about.js" defer></script>
{{ end }}

{{ define "main" }}
    <main style="margin: 15%">
        <div class="d-flex flex-column flex-sm-row">
            <div>
                <p class="h1">
                    Hello!
                </p>
                <p class="f2">
                    I'm <span id="anshul">Anshul</span>, a 15-year-old developer from London.
                </p>
            </div>
            <div>

            </div>
        </div>
    </main>
{{ end }}
